{% extends 'base.html' %}{% load staticfiles %}

{% block styles %}
    {{ block.parent }}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet"/>
    <link href="{% static 'css/app.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_headers %}
    <script>
    var CONFIG = {
        TILE_LAYER_URL: '{{ TILE_SERVER }}' + 'map_{{ world.pk }}/{z}/{x}/{y}.png',
        FRONTEND_ADDR: '{{ FRONTEND_ADDR }}',
        FRONTEND_PORT: '{{ FRONTEND_PORT }}',
        WORLD_ID: {{ world.pk }},
        STATIC_URL: '{{ STATIC_URL }}'
    };
    </script>
{% endblock %}

{% block body_class %}sw-toggled{% endblock %}

{% block body %}
    {% include 'main/_header.html' %}

    <section id="main">
        {% include 'main/_sidebar.html' %}

        <section id="content">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div id="app"></div>
                    </div>
                </div>

            </div>
        </section>
    </section>
{% endblock body %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/build.js' %}"></script>
{% endblock scripts %}
